# Final project

## Introduction

The following notebook is a demonstration of the knowledge acquired about Jupyter notebook in this course.

### Data science languages
- Python
- R
- SQL
- Julia
- Java
- Javascript
- Scala

#### Data science libraries

- TensorFlow.
- NumPy.
- SciPy.
- Pandas.
- Matplotlib.
- Keras.
- SciKit-Learn.
- PyTorch.

#### Data science tools

| Step in DS     | Tool      |
|---|---|
|Data management |mySQL| 
|                |PostgreSQL| 
|                | MongoDB| 
|----------------|--------------| 
| Refinery and   | Airflow | 
| cleansing      | Kubeflow | 
|                | Kafka | 
|                | Nifi | 
|----------------|--------------| 
| Data           | Jupyter | 
| visualization  | Rstudio | 
|                | Apache spark |
|                | Spyder | 
|----------------|--------------| 
| Model          | Seldon |
| deployment     | Mleap |
|                | Tensorflow | 
|----------------|--------------|
| Model          | ModelDB | 
| monitoring     | Prometheus |
|----------------|--------------| 
| Code asset     | Git | 
| Management     | github | 
|                | gitlab |
|----------------|--------------| 
| Data asset     | kylo | 
| management     | Atlas | 
|----------------|--------------|

#### Arithmetic expression examples
-  1+1= 2
- 10/2= 5
- 5*5= 25

In [ ]:
### multiply and add numbers

num1 = int(input("Enter First Number: "))
num2 = int(input("Enter Second Number: "))

print("Enter which operation would you like to perform?")
ch = input("Enter any of these char for specific operation +,*: ")

result = 0
if ch == '+':
    result = num1 + num2
elif ch == '*':
    result = num1 * num2
else:
    print("Input character is not recognized!")

print(num1, ch , num2, ":", result)

In [3]:
# convert minutes to hours

minutes = int(input("Enter minutes: "))

print("%02d:%02d" % (divmod(minutes, 60)))

Enter minutes:  180

03:00

### Objectives
* [ ] Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
* [ ] Exercise 3 - Create a markdown cell for an introduction. (1 pt)
* [ ] Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
* [ ] Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
* [ ] Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
* [ ] Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
* [ ] Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)
* [ ] Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
* [ ] Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
* [ ] Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
* [ ] Exercise 12 - Share your notebook through GitHub (3 pts)
* [ ] Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

#### Author: Joseherick Castillo